/* ==== PAGE SETUP =====*/
/* Forest Background fills entire browser */
html, body, #content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
}

/* ==== GOOBERT POSITIONING ==== */
/* Size and appearance of Gooberts body parts*/
#goobert-legs,
#goobert-body,
#goobert-mouth,
#goobert-eyes {
    grid-column: 1;
    grid-row: 1;

    width: 64px;
    height: 64px;
    image-rendering: crisp-edges;
}

/* ==== GOOBERT SPRITE SHEETS ==== */
#goobert-legs {
    background-image: url("assets/goobert-parts/208-tamagotchi-legs.png");
}

#goobert-body {
    background-image: url("assets/goobert-parts/208-tamagotchi-bodies.png");
}

#goobert-mouth {
    background-image: url("assets/goobert-parts/208-tamagotchi-mouths.png");
}

#goobert-eyes {
    background-image: url("assets/goobert-parts/208-tamagotchi-eyes.png");
}

/* Positions Goobert relative to tree */
.goobert-container {
    position: absolute;
    width: 20%;
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

/* Layers Goobert's body parts */
.goobert-container img {
    position: relative;
    left: 210%;
    bottom: -450%;
    width: 64px;
    height: 64px;
    image-rendering: crisp-edges;
}

/* ====BACKGROUND POSITIONING ====*/
.hub {
    background-image: url("hub-images/gooberts_forest_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* ==== TREE POSITIONING ==== */
/* Container to keep tree centered on page */
.tree-container {
    position: absolute;
    width: 600px;
    height: 700px;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 2;
}

/* Displays tree as pixelated */
.pixelated-tree {
    position: absolute;
    width: 600px;
    height: auto;
    bottom: 0;
    image-rendering: pixelated;
}

/* ==== CUSTOM TREE AREA ==== */
/* 
 * Invisible clickable areas placed over different parts of the tree.
 * Clickable areas use percentages so they are aligned with tree if size changes.
 */
#tree-body-area {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 35%;
    left: 15%;
    cursor: pointer;
}

#tree-legs-area {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 35%;
    left: 65%;
    cursor: pointer;
}

#tree-mouth-area {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 65%;
    left: 20%;
    cursor: pointer;
}

#tree-eyes-area {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 40%;
    cursor: pointer;
}

#tree-body-color {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 35%;
    left: 40%;
    cursor: pointer;
}

#tree-legs-color {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 65%;
    left: 60%;
    cursor: pointer;
}

/* ==== CUSTOMIZED CLICKABLE DOORS ====*/
/* SLEEP DOOR POSITIONING */
.sleep-door-container {
    position: absolute;
    left: 10%;
    bottom: 15%;
    z-index: 1;
}

#sleep-door {
    width: 130px;
    height: auto;
    cursor: pointer;
}

/* GAME DOOR POSITIONING */
.game-door-container {
    position: absolute;
    right: 5%;
    bottom: 15%;
}

#game-door {
    width: 130px;
    height: auto;
    cursor: pointer;
}

/* SHOP DOOR POSITIONING */
.shop-door-container {
    position: absolute;
    left: 22%;
    bottom: 30%;
}

#shop-door {
    width: 130px;
    height: auto;
    cursor: pointer;
}

/* LEAVE DOOR POSITIONING */
.leave-door-container {
    position: absolute;
    right: 20%;
    bottom: 30%;
}

#leave-door {
    width: 130px;
    height: auto;
    cursor: pointer;
}

/* Settings button */
.hub .settings-fab {
    position: fixed !important;
    bottom: 25px !important;
    right: 25px !important;
    top: auto !important;
    left: auto !important;

    width: 55px;
    height: 55px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ff922b;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

.hub .settings-fab img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}